

header {
    height: 100px;
    text-align: center;
    color: wheat;
   
}

h1 {
    text-align: center;
}

Button{
    background-color: rgb(245, 179, 179);
}

body {
    background-color: lightblue;
}

main {
    display: flex;
    justify-content: center;
}

form {
    width: 350px;
    height: 350px;
    background-color: darkslategray;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
  }